<!DOCTYPE html>
<html lang="en">

<head>
    {{template "general/header"}}
</head>

<body class="bg-gradient-to-r from-cyan-500 to-blue-500 flex justify-center">
    <div class="bg-white m-20 rounded-xl flex flex-col p-10 shadow-2xl shadow-black max-w-fit">
        <h3 class="flex justify-center font-serif pt-3 h-16 text-4xl font-bold">Add new category</h3>

        <form method="post" action="/category/create">
            <div class="flex flex-col">
                <div class="username">
                    <label>Title :</label>
                    <input
                        class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm"
                        type="text" placeholder="Type title here" name="type" required />
                </div>
            </div>
            <div class="flex justify-center pt-1">
                <button class=" rounded-full px-2 hover:bg-black hover:text-white" type="submmit">Add Category</button>
            </div>
        </form>

        <footer class="flex flex-col items-center md:mx-auto">
            <table>
                <tr>
                    <th><a href="/dashboard">Go to Dashboard Page</a></th>
                </tr>
            </table>
            <p>© Safiar Azalia Amanullah - BE2671558 - 2022</p>
        </footer>
    </div>
</body>

</html>