<!DOCTYPE html>
<html lang="en">

<head>
    {{template "general/header"}}
</head>

<body>
    <div
        class="flex flex-col w-screen h-screen overflow-auto text-gray-700 bg-gradient-to-tr from-blue-200 via-indigo-200 to-pink-200">
        <div class="flex items-center flex-shrink-0 w-full h-16 px-10 bg-white bg-opacity-75">
            <svg class="w-8 h-8 text-indigo-600 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01" />
            </svg>
            <div class="flex items-center justify-center w-8 h-8 ml-auto">
                <a href="/logout">
                    <buton class="flex items-center justify-center w-8 h-8 ml-auto cursor-pointer font-bold">
                        Logout
                    </buton>
                </a>
            </div>
        </div>
        <div class="px-10 mt-6">
            <h1 class="text-2xl font-bold">Kanban App</h1>
            <br>
            <a href="/category/add"
                class="h-10 px-5 m-2 text-indigo-100 transition-colors duration-150 bg-indigo-700 rounded-lg focus:shadow-outline hover:bg-indigo-800">Add
                Category</a>
        </div>

        <!-- TODO: answer here -->
        {{range $index, $element := .categories}}
        <!-- nama kategori -->
        <div class="flex flex-col">
            <div class="flex flex-col flex-grow px-10 mt-4 space-x-6 overflow-auto">
                <div class="flex flex-col flex-shrink-0 w-72">
                    <div class="flex justify-between items-center flex-shrink-0 h-10 px-2 bg-slate-50">
                        <span class="block text-sm font-semibold">{{ $element.Type }}</span>
                        <div class="flex flex-between">
                            {{ $catID := $element.ID }}
                            <form method="GET" action="/task/add?category={{ $catID }}">
                                <input type="hidden" name="category" value="{{ $catID }}">
                                <button
                                    class="flex items-center justify-center w-6 h-6 ml-auto text-indigo-500 rounded hover:bg-indigo-500 hover:text-indigo-100">
                                    <svg class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                    </svg>
                                </button>
                            </form>
                            <a href="/category/delete?category_id={{ $catID }}">
                                <button
                                    class="flex items-center justify-center w-6 h-6 ml-auto text-indigo-500 rounded hover:bg-indigo-500 hover:text-indigo-100">
                                    <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M6.2253 4.81108C5.83477 4.42056 5.20161 4.42056 4.81108 4.81108C4.42056 5.20161 4.42056 5.83477 4.81108 6.2253L10.5858 12L4.81114 17.7747C4.42062 18.1652 4.42062 18.7984 4.81114 19.1889C5.20167 19.5794 5.83483 19.5794 6.22535 19.1889L12 13.4142L17.7747 19.1889C18.1652 19.5794 18.7984 19.5794 19.1889 19.1889C19.5794 18.7984 19.5794 18.1652 19.1889 17.7747L13.4142 12L19.189 6.2253C19.5795 5.83477 19.5795 5.20161 19.189 4.81108C18.7985 4.42056 18.1653 4.42056 17.7748 4.81108L12 10.5858L6.2253 4.81108Z"
                                            fill="currentColor"></path>
                                    </svg>
                                </button>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end category -->
        <!-- newest tasks -->
        <div class="flex flex-row flex-nowrap ml-10 mt-2 border-solid border-black">
            <div class="flex flex-row flex-nowrap ">
                <!-- tasks per category -->
                {{range $index, $element := .Tasks}}
                {{ $taskID := $element.ID }}
                <a href="/task/update?task_id={{ $taskID }}">
                <div class="max-w-xs rounded overflow-hidden shadow-lg">
                        <div class="px-6 py-4 flex flex-col">
                            <div class="flex flex-row justify-evenly font-bold text-xl mb-2">
                                <h4>{{ $element.Title }}</h4>
                                <a href="/task/delete?task_id={{ $taskID }}">🗑️</a>
                            </div>
                            <p class="text-gray-700 text-base text-center">
                                {{ $element.Description }}
                            </p>
                        </div>
                    </div>
                </a>
                {{end}}
                <!-- end task per category -->
            </div>
        </div>
        {{ end }}
    </div>
    </div>
</body>

</html>